* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: darkred;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

main {
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

header {
    background-color: lightgray;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

header img {
    float:right;
    max-width: 200px;
}

#contact-button {
    border: none;
    background-color: darkgreen;
    border-color: darkgreen;
    padding: 0.5rem 0.75rem;
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}